<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>jQuery Mobile Basic</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="../css/icon.css" />
<link rel="stylesheet" href="../css/main.css" />
<link rel="stylesheet" href="../css/idangerous.swiper.css" />

<link rel="stylesheet"
	href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script
	src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src='../js/handlebars-v2.0.0.js'></script>
<script type="text/javascript" src="../js/idangerous.swiper.js"></script>
<script type="text/javascript" src='../js/main.js'></script>




</head>
<body>

	<script id="styletemplate" type="text/temp"></script>


	<!-- 1페이지 -->

	<div data-role="page" id="page1" class=page>
		<div data-role="header" style="overflow: hidden" data-position="fixed">
			<h1>BeautyChu~♥</h1>
			<div data-role="navbar">
				<ul>
					<li><a href="#page1" data-transition="slide"
						class="ui-btn-active ui-state-persist">HOT</a></li>
					<li><a href="#page2">WOMEN</a></li>
					<li><a href="#page3">MAN</a></li>
					<li><a href="#page4">SHOP</a></li>
					<li><a href="#page5">MyChu</a></li>
				</ul>
			</div>
		</div>
		<!-- /header -->

		<div data-role="content" id=content-div>
			<div id=content-section-1 class=content-section></div>
			<div id=content-section-2 class=content-section>

				<label for="select-choice-a" class="select"></label> <select
					name="select-choice-a" id="select-choice-a"
					data-native-menu="false">
					<option value="최신순">최신순</option>
					<option value="인기순">인기순</option>
				</select>
			</div>
			<!-- 	<button id=addbtn>ㅜㅜ</button> -->
		</div>
	</div>

	<!-- 2페이지 -->

	<div data-role="page" id="page2" class=page>
		<div data-role="header" style="overflow: hidden" data-position="fixed">
			<h1>BeautyChu~♥</h1>
			<div data-role="navbar">
				<ul>
					<li><a href="#page1">HOT</a></li>
					<li><a href="#page2" class="ui-btn-active ui-state-persist">WOMEN</a></li>
					<li><a href="#page3">MAN</a></li>
					<li><a href="#page4">SHOP</a></li>
					<li><a href="#page5">MyChu</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 3페이지 -->

	<div data-role="page" id="page3" class=page>
		<div data-role="header" style="overflow: hidden" data-position="fixed">
			<h1>BeautyChu~♥</h1>
			<div data-role="navbar">
				<ul>
					<li><a href="#page1">HOT</a></li>
					<li><a href="#page2">WOMEN</a></li>
					<li><a href="#page3" class="ui-btn-active ui-state-persist">MAN</a></li>
					<li><a href="#page4">SHOP</a></li>
					<li><a href="#page5">MyChu</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 4페이지 -->
	<div data-role="page" id="page4" class=page>
		<div data-role="header" style="overflow: hidden" data-position="fixed">
			<h1>BeautyChu~♥</h1>
			<div data-role="navbar">
				<ul>
					<li><a href="#page1">HOT</a></li>
					<li><a href="#page2">WOMEN</a></li>
					<li><a href="#page3">MAN</a></li>
					<li><a href="#page4" class="ui-btn-active ui-state-persist">SHOP</a></li>
					<li><a href="#page5">MyChu</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- 5페이지 -->
	<div data-role="page" id="page5" class=page>
		<div data-role="header" style="overflow: hidden" data-position="fixed">
			<h1>BeautyChu~♥</h1>
			<div data-role="navbar">
				<ul>
					<li><a href="#page1">HOT</a></li>
					<li><a href="#page2">WOMEN</a></li>
					<li><a href="#page3">MAN</a></li>
					<li><a href="#page4">SHOP</a></li>
					<li><a href="#page5" class="ui-btn-active ui-state-persist">MyChu</a></li>
				</ul>
			</div>
		</div>
	</div>


	<!-- 스타일 디테일-->

	<div data-role="page" id="styledetail" class="page">







	</div>




	<!-- 	<div data-role="footer">
		<h1>footer</h1>
	</div> -->
	<!-- /footer -->




	<script>
		
	</script>

</body>
</html>
